@{
    ViewBag.Title = "Il team";
    ViewBag.Page = "#nav-about";
}
<h2>@ViewBag.Title</h2>

<div class="row col-md-12 margin-top-20 margin-bottom-50 text-justify">
    <section class="col-md-4">
        <p>
            <b>Marco Ferri</b> 807130 <br />
            <a href="mailto:m.ferri17@campus.unimib.it">m.ferri17@campus.unimib.it</a>
        </p>
        <p>
            Vivo a Busto Arsizio e ho frequentato l'ISIS "C. Facchinetti" di Castellanza con indirizzo Informatico. Appassionato sin da piccolo, ho deciso di iscrivermi
            all'università con l'intenzione ben precisa di continuare il percorso almeno fino alla Maurea Magistrale, per integrare le nozioni che un istituto tecnico 
            non è riuscito a darmi (nonostante io resti comunque molto soddisfatto di quanto abbia appreso durante il percorso alle superiori).
        </p>
        <p>
            Fino a qualche mese fa sono sempre stato convinto che "da grande" sarei diventato uno sviluppatore software, ma ultimamente sto cercando di capire se dovrei
            valutare anche le altre numerosissime possibilità che un ambito vasto come quello dell'informatica ha da offrire. Nel frattempo mi diletto fra università
            e lavoro part-time, per il quale sono uno uno sviluppatore .NET da oramai un anno e mezzo.
        </p>
        <p>
            É anche grazie alle competenze apprese durante il mio periodo lavorativo che questo sito è nato e sono fiero di trasmettere le mie conoscenze a
            Paolo e Simone, assumendo per loro ciò che scherzosamente definiscono il ruolo di <b>Scrum Master</b>  <!-- vedi che alla fine ti piace? ahahaha -->.
        </p>
    </section>

    <section class="col-md-4">
        <b>Simone Ghezzi</b> 807198
        <p>
            <a href="mailto:s.ghezzi@campus.unimib.it">s.ghezzi@campus.unimib.it</a>  
        </p>
        <p>
            Abito presso il comune di Assago e ho frequentato il Liceo Scientifico "G. Feltrinelli" a Milano con opzione delle Scienze applicate, il liceo senza latino per intenderci.
            É proprio durante gli ultimi due anni di Liceo che ho avuto la possibilità di interfacciarmi per la prima volta o con la programmazione e in particolar modo con lo
            sviluppo in Visual Basic. Da quel momento è nata la mia passione e curiosità verso questa disciplina tanto da spingermi ad iscrivermi alla facoltà di Informatica.
        </p>
        <p>
            @*Work in progress.*@
        </p>

    </section>

    <section class="col-md-4">
        <b>Paolo Marconi</b> 807172
        <p>
            <a href="mailto:p.marconi2@campus.unimib.it">Indirizzo E-Mail</a>
        </p>
        <p>
            Abito a Zogno, un remoto paesino della bergamasca, e ho frequentato il Liceo Scientifico (PNI) "Lorenzo Mascheroni" a Bergamo. Pur non essendo un liceo indirizzato a
            fornire allo studente competenze di tipo informatico, la mia sempre crescente curiosità nei confronti di quest'ultimo mi ha spinto ad iscrivermi alla facoltà che ora frequento.
            Per il momento sono fermamente convinto di iscrivermi alla Laurea Magistrale, e tentare in futuro di entrare a far parte di un team di sviluppo Software (anche Estero).
        </p>
        <p>
            Per quanto riguarda il progetto BrewDay! Ammetto di essere entusiasmato ma con un leggero sentore di spaesamento <b>(spero solo temporaneo)</b> per un nuovo ambiente di sviluppo 
            e un nuovo linguaggio di programmazione/ linguaggi già conosciuti mai messi nero su bianco.
            In questo progetto mi sento anche il cliente che commissiona l'app : produco insieme a mio padre birra artigianale ( non destinanta alla vendita ) da 12 anni. Spero
            che questo piccolo dettaglio possa condurci alla realizzazione di una web app migliore, dal momento che, una volta "rilasciata", <i>la utilizzeremo per l'organizzazione
            delle fermetazioni.</i>
        </p>
    </section>
</div>