@{
    ViewBag.Title = "Il team";
    ViewBag.Page = "#nav-about";
}
<h2>@ViewBag.Title</h2>

<div class="row col-md-12 margin-top-20 margin-bottom-50 text-justify">
    <section class="col-md-4">
        <p>
            <b>Marco Ferri</b> 807130 <br />
            <a href="mailto:m.ferri17@campus.unimib.it">m.ferri17@campus.unimib.it</a>
        </p>
        <p>
            Vivo a Busto Arsizio e ho frequentato l'ISIS "C. Facchinetti" di Castellanza con indirizzo Informatico. Appassionato sin da piccolo, ho deciso di iscrivermi
            all'università con l'intenzione ben precisa di continuare il percorso almeno fino alla laurea magistrale, per imparare le nozioni che un istituto tecnico 
            non è riuscito a darmi (nonostante io resti comunque molto soddisfatto di quanto io abbia appreso durante il percorso alle superiori).
        </p>
        <p>
            Fino a qualche mese fa sono sempre stato convinto che "da grande" sarei diventato uno sviluppatore software, ma ultimamente sto cercando di capire se dovrei
            valutare anche le altre numerosissime possibilità che un ambito vasto come quello dell'informatica ha da offrire. Nel frattempo mi diletto fra università
            e lavoro part-time, per il quale sono uno uno sviluppatore .NET da oramai un anno e mezzo.
        </p>
        <p>
            É anche grazie alle competenze apprese durante il mio periodo lavorativo che questo sito è nato e sono fiero di trasmettere le mie conoscenze a
            Paolo e Simone, assumendo per loro ciò che scherzosamente definiscono il ruolo di <b>Scrum Master</b>.
        </p>
    </section>

    <section class="col-md-4">
        <b>Simone Ghezzi</b> 807130 <a>contattami</a>
    </section>

    <section class="col-md-4">
        <b>Paolo Marconi</b> 807130 <a>contattami</a>
    </section>
</div>