@{
    ViewBag.Title = "Il team";
}
<h2>@ViewBag.Title</h2>

<div class="col-md-12 margin-top-20 margin-bottom-50">
    <p class="margin-bottom-20">
        <b>Marco Ferri</b> 807130 <a href="mailto:m.ferri17@campus.unimib.it">m.ferri17@campus.unimib.it</a> <br />
        Vivo a Busto Arsizio e ho frequentato l'ISIS "Facchinetti" di Castellanza con indirizzo informatico. Sono appassionato d'informatica sin da piccolo
        ed in particolare del software, motivo per cui mi sono iscritto all'università con l'intenzione di frequentare anche il corso magistrale.
    </p>
    <p><b>Simone Ghezzi</b> 807130 <a>contattami</a></p>
    <p><b>Paolo Marconi</b> 807130 <a>contattami</a></p>
</div>