@model BrewDay.DTO.ProductsAudit


<h1 class="bgClip">BrewDay!</h1>
@*<h3 class="home-subtitle">PER UNA BIRRA MIGLIORE</h3>*@


@if (Model.RunningOutStocks.Count != 0)
{
    <!-- Tabella per gli Stock -->
    <div class="row col-md-12">
        <h2>
            Dai un'occhiata a queste scorte!
            <span class="help-icon glyphicon glyphicon-question-sign cursor-pointer" data-toggle="modal" data-target="#help-modal"
                  data-header="Scorte in esaurimento" data-body="In questa tabella vengono evidenziati in rosso gli elementi per cui è necessario prestare attenzione.
                  La data di scadenza è da considerarsi tale se la scorta scade entro la settimana (o è già scaduta). La quantità d'ingrediente viene invece evidenziata in rosso qualora sia inferiore a 10 grammi."></span>
        </h2>
        @Html.Partial("~/Views/Stocks/_List.cshtml", Model.RunningOutStocks)
    </div>
}


<!-- Tabella per le Produzioni vicine al termine  -->
@if (Model.FinishingProduction.Count != 0)
{
    <div class="row col-md-12">
        <h2>Fermentazioni quasi concluse</h2>
        @Html.Partial("~/Views/Productions/_List", Model.FinishingProduction)
    </div>
}
