@model BrewDay.DTO.ProductsAudit

<div class="col-md-offset-2 col-md-8">
    <h1 class="bgClip">BrewDay!</h1>
    <h2 class="home-subtitle"> <strong>Semplice e intuitivo per la tua BIRRA</strong></h2>
</div>

<!-- Bottone per aprire il modale di What Should I Brew Today -->
<div class="text-center">
    <a class="btn btn-primary wsibt-btn" data-toggle="modal" data-target="#homepage-modal" href="@Url.Action("WhatShouldIBrewToday", "Home")">
        What Should I Brew Today?
    </a>
</div>


<!-- Tabella per gli Stock -->
@if (Model.RunningOutStocks.Count != 0)
{
    <div class="col-md-6">
        <h4>
            <strong>Dai un'occhiata a queste scorte!</strong>
            <span class="help-icon glyphicon glyphicon-question-sign cursor-pointer" data-toggle="modal" data-target="#help-modal"
                  data-header="Scorte in esaurimento" data-body="In questa tabella vengono evidenziati in rosso gli elementi per cui è necessario prestare attenzione.
                  La data di scadenza è da considerarsi tale se la scorta scade entro la settimana (o è già scaduta). La quantità d'ingrediente viene invece evidenziata in rosso qualora sia inferiore a 10 grammi."></span>
        </h4>
        @Html.Partial("~/Views/Stocks/_List.cshtml", Model.RunningOutStocks)
    </div>
}


<!-- Tabella per le Produzioni vicine al termine  -->
@if (Model.FinishingProduction.Count != 0)
{
    <div class="col-md-6">
        <h4>
            <strong>Produzioni quasi ultimate</strong>
            <span class="help-icon glyphicon glyphicon-question-sign cursor-pointer" data-toggle="modal" data-target="#help-modal"
                  data-header="Produzioni quasi concluse" data-body="Qui puoi vedere molto velocemente quali sono le Produzioni che stanno per raggiungere la data di fine stimata ed in particolare quelle che sono in programma di terminare entro 2 giorni."></span>
        </h4>
        @Html.Partial("~/Views/Productions/_List.cshtml", Model.FinishingProduction)
    </div>
}



<!-- Modale -->
<div id="homepage-modal" class="modal margin-top-50" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="margin: 10px auto !important;">
            <!-- Qua verrà iniettato il contenuto richiesto al server dal bottone (riga 10) -->
        </div>
    </div>
</div>


@section scripts{
    <script>
        // Resetta contenuto del modale alla sua chiusura
        // Senza questo event listener il modale rimane pieno e Bootstrap non fa alcuna nuova richiesta al server
        $("#homepage-modal").on("hidden.bs.modal", function () {
            $('.modal-content').empty();
            $('#homepage-modal').removeData('bs.modal');
        });
    </script>
}