@model BrewDay.DTO.WhatShouldIBrewToday

@{
    ViewBag.Title = "What Should I Brew Today?";
}

<h2>@ViewBag.Title</h2>

<div class="row col-md-12">
    @if (Model != null)
    {
        <p> Abbiamo fatto alcuni calcoli basate sulle tue scorte e i tuoi strumenti e ti suggeriamo di produrre <br /> </p>
        <h4> @Model.Quantity litri di <a href="/Recipes/Details/@Model.Recipe.RecipeId">@Model.Recipe.FullName</a> </h4>
    }
    else
    {
        <p> Purtroppo non c'è alcuna Ricetta che tu possa produrre con le attuali Scorte e Strumenti, ci dispiace. </p>
    }
</div>





