
@{
    ViewBag.Title = "Errore";
}

<div>
    <h1>Errore @(Response.StatusCode != 200 ? Response.StatusCode + " " + Response.StatusDescription : "")!</h1>
    <h3 class="margin-bottom-50">
        Si è verificato un errore durante l'elaborazione della richiesta. <br />
        Se il problema persiste, si prega di contattare l'amministratore, fornendogli le informazioni sotto riportate.
    </h3>
</div>


<div class="margin-bottom-50">
    <ul style="font-size: 20px; margin: 0 0 20px -10px;">
        @if (ViewBag.Messages != null)
        {
            foreach (string error in ViewBag.Messages)
            {
                <li>@error</li>
            }
        }
    </ul>

    @if (ViewBag.StackTrace != null)
    {
        <a class="cursor-pointer" data-toggle="collapse" data-target="#stacktrace">Ulteriori dettagli...</a>
        <div id="stacktrace" class="collapse margin-top-10">
            @ViewBag.StackTrace
        </div>
    }
</div>

<button class="btn btn-default" onclick="window.history.back();">Torna Indietro</button>