@model IEnumerable<BrewDay.Domain.Entities.Stock>

@{
    ViewBag.Title = "Tutte le Scorte";
    ViewBag.Page = "#nav-stocks";
}

<h2>
    @ViewBag.Title
    <span class="help-icon glyphicon glyphicon-question-sign cursor-pointer" data-toggle="modal" data-target="#help-modal"
          data-header="Gestione Scorte" data-body="Qui puoi vedere gli Ingredienti che possiedi personalmente in magazzino. I campi contrassegnati in rosso potrebbero richiedere la tua attenzione."></span>
</h2>

<div class="row col-md-12">
    <a href="@Url.Action("Create")" class="btn btn-primary pull-right">Registra nuova Scorta</a>
</div>

<div class="row col-md-12">
    @Html.Partial("_List")
</div>