@model IEnumerable<BrewDay.Domain.Entities.Production>

@{
    ViewBag.Title = "Produzioni";
    ViewBag.Page = "#nav-productions";
}

<h2>
    Tutte le tue Produzioni
    <span class="help-icon glyphicon glyphicon-question-sign cursor-pointer" data-toggle="modal" data-target="#help-modal"
          data-header="Gestione Produzioni" data-body="In questa pagina è possibile visualizzare lo storico delle produzioni."></span>

</h2>

<div class="row col-md-12 margin-top-50">
    @Html.Partial("_List", Model)
</div>
